body{
    background-image: url(city.jpg);
    
}

.layout {
    border: solid 3px;
    text-align: center;
    border-radius: 10px;
    margin-top: 1%;
    margin-right: 38%;
    margin-bottom: 1%;
    margin-left: 38%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 1px 30px black;
    transform: translateY(-150);
    transition: transform 600ms;
    background-color: #779CAB;
}

.layout:hover {
    transform: translateY(0);
}

img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2%;
    box-shadow: 0 5px 10px black;
    transition: 1s ease;

}

img:hover{
    -webkit-filter: blur(5px);
    transition: 1s ease;
}

.header{
    background: rgb(53,82,74);
    background: linear-gradient(180deg, rgba(53,82,74,1) 0%, rgb(91, 115, 122) 100%);
    height: 280px;
    border-radius: 6px;
}

h1 {
    padding-top: 1;
    position: absolute;
    top: 180px;
    right: 100px;
    color: rgba(255, 255, 255, 0.7);
}

.icon{
    width: 350px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    position: absolute;
    top: 235px;
    right: 12px;
}

.icon-btn{
    background-color: white;
    border-radius: 50%;
    padding: 6px;
    margin: 15px;
    box-shadow: 0 5px 10px black;
}

.icon-btn-1{
    transform: translateX(500px);
    transition: transform 300ms;
}

.icon-btn-2{
    transform: translateX(400px);
    transition: transform 300ms;
}

.icon-btn-3{
    transform: translateX(300px);
    transition: transform 300ms;
}

.icon-btn-4{    
    transform: translateX(200px);
    transition: transform 300ms;
}

.icon-btn-5{
    transform: translateX(100px);
    transition: transform 300ms;
}

.layout:hover .icon-btn-1,.layout:hover .icon-btn-2 ,.layout:hover .icon-btn-3,.layout:hover .icon-btn-4, .layout:hover .icon-btn-5{
    transform: translateX(0);
}

ion-icon {
    font-size: 40px;
    margin-left: px;
}

.info {
    text-align: left;
    margin-top: 50px;
    
}

h2{
    margin-top: 0;
    margin-bottom: 0px;
    padding-left: 5px;
    font-size: 20px;
    
}

p{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    padding-left: 5px;
    padding-bottom: 5px;
}

.info-box{
    border-radius: 5px;
    margin-top: 10px;
    background: rgb(119,156,171);
    background: linear-gradient(180deg, rgba(119,156,171,1) 0%, rgba(98,124,133,1) 100%);
    margin-top: 0;
}

.info-box:hover {
    background-color: black;
    color: whitesmoke;
}

input{
    height: 80px;
    width: 300px;
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 18px;
    text-align: center;
}

button{
    border-radius: 8px;
    transition-duration: 0.4s ;
    margin-left: 20px;
    font-size: 20px;
    padding: 5px;
}

button:hover{
    background-color: #35524A;
    color: white;
}

.box{
    background: rgb(255,255,255);
    background: rgb(0,0,0);
    background: rgb(119,156,171);
    background: linear-gradient(180deg, rgba(119,156,171,1) 0%, rgba(98,124,133,1) 100%);
}